<!DOCTYPE html>
<html>
  <head>
    <title>Data Form</title>
  </head>
  <body>
    <h1>Data Form</h1>
    <form action="/" method="POST">
      <select name="selectData">
        <% data.forEach((item) => { %>
          <option value="<%= item %>"><%= item %></option>
        <% }); %>
      </select>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>

